/* h1{
    color: brown;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

body{
    background-color: bisque;
}

div{
    height: 250px;
    width: 100px;
    background-color: brown;
    margin-bottom: 10px;
    ;
} */

.paragraph{
    color: red;

}

.newclass{
    background-color: aquamarine;
}