h1{
    color: yellowgreen;
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 10px;;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}